//spccing
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 4rem;
$spacing-xl: 8rem;
//gaps
$footer-gap: 2rem;
$section-gap: 2.5rem;

//colors
$dark-blue: #0a0075;
$primary-blue: #7a6dff;
$secondary-blue: #b0a9ff;
$primary-brown: #a67802;
$secondary-brown: #fef3c7;
$tertiary-blue: #edecff;
$primary-gray: #475569;
$secondary-gray: #64748b;
